.feedback{
    width: 80%;
    margin: auto;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.7);
}

.textarea{
    width: 100px;
    height: 100px;
    background: red;
    transition: 1s;
    transition-delay: 0.2s;
}

.textarea:after{
    background-color: black;
}

.mail{
    width: 20%;
}