//footer
.soc {

    font-size: 300%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.socdiv {
    width: 140px;
    float: left;

}

.copyright {
    width: 100%;
    text-align: center;


}

footer {
    width: 100%;
    height: 200px;

}

.fot1 {
    width: 20%;
    padding: 25px;
    float: left;
}

.fot2 {
    width: 40%;
}

//menu
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
    width: 16.666%;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav li a:hover {
    background-color: forestgreen;
    text-decoration: none;
    color: white;
}

ul {
    list-style-position: inside;
    color: darkgreen;
}

ol {
    list-style-position: inside;
    color: darkgreen;
}

nav {
    position: fixed;
    top: -30px;
    left: -27px;
    width: 120%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 9000;
}